.battlemap {
    position: relative;
    display: grid;
    background: #c8b98a;
}

.battlemap-cell {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: transparent;
    pointer-events: none;
}
